@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family:'Roboto',sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header{
   position:sticky;
    top:0;
    background:white;
    padding:0;
    height:66px;
}
@media (max-width:1550px){
    header{
        background:red;
    }
}
.left img{
    width:38px;
    height:23px;
}
.container{
    max-width:0 10vw;
    margin :13px 0px;
}
nav ul li{
    list-style:none;
    padding: 0 12px;
}
.flex{
    display:flex;
}
.section1{
    width:98vw;
    height:50vw;
    background:rgb(241, 239, 239);
    height: 122vh;
}
.section2{
    width:100vw;
    height:20vw;
}
.search{
    width:34vw;
    padding:7px 17px;
    border:0.5px solid rgb(228, 223, 223);
    background:rgb(252, 251, 251);
    border-radius:5px;
}
.itemImg{
    width:20vw;
    margin:10px 12px;
}
footer{
    padding:23px;
    text-align:center;
    box-shadow:rgb(0 0 0 /24%) 0px 3 px 8px;
}