.flex{
    display:flex;
}
.items-center{
    align-items:center;
  } 
  
  .justify-center{
    justify-content: center;
  }
  .space-between{
    justify-content: space-between;
  }
  
  .uppercase{
    text-transform: uppercase;
  }
  .semibold{
    font-weight: bolder;
  }
  .mx-2{
    margin-left: 12px;
    margin-right: 12px;
  }
  
  .flex-wrap{
    flex-wrap:wrap;
  }
  .center {
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: center;
}
  label strong{
    font-weight:bold;
  }
  .colorful-button {
    padding: 15px 30px; /* Adjust padding for button size */
    font-size: 18px; /* Adjust font size */
    background-color: #725ceb; /* Change background color */
    color: white; /* Change text color */
    border: none; /* Remove button border */
    border-radius: 8px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}
.delete-button {
  background-color: rgb(255, 38, 0); /* Change the delete button color to red */
  color: white;
  border: none;
  padding: 8px 20px; /* Adjust the padding for button size */
  border-radius: 8px;
  margin-left: 10px;
}

/* Adjust styles for responsiveness */
@media (max-width: 768px) {
  .button-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .delete-button {
      margin-top: 10px;
  }
}
.clear-button {
  background-color: rgb(255, 166, 0); /* Change the delete button color to red */
  color: white;
  border: none;
  padding: 8px 20px; /* Adjust the padding for button size */
  border-radius: 8px;
  margin-left: 10px;
}